@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 6715px;
  min-width: 375px;
  left: -17px;
}

.headline-container {
  background: #fff;
}

.toolbar-container {
  display: flex;
  height: 48px;
  min-width: 375px;
  top: 44px;
  justify-content: space-between;
  align-items: center;
}

.name-container {
  min-width: 114px;
  height: 48px;
  left: 12px;
  margin-top: 40px;
  margin-left: 20px;
}

.logo {
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  color: #28352f;
}

.menu-container {
  min-width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
  margin-top: 15px;
  margin-right: 15px;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  background-image: url(./Images/header-illsutration-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.description-title-container {
  min-width: 327px;
  height: 192px;
}

.description-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
}

span {
  color: #05f4af;
}

.description-content {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.social-media {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
  margin-right: 30px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  min-width: 379px;
  height: 3283px;
  top: 708px;
}

.works-heading {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  min-width: 327px;
  height: 97px;
  text-align: center;
  color: #172b4d;
}

.work-profiles {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 50px;
}

.work-profile-1 {
  display: grid;
  min-width: 327px;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr);
  height: 474px;
  background-image: url(./Images/Img-Plaholder.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.works-text {
  grid-row: 2;
  background: #fff;
  border-radius: 8px;
  width: 291px;
  height: 203px;
  left: calc(50% - 327px / 2);
  bottom: 0;
  padding: 16px;
  gap: 16px;
}

.works-title {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #3a4a42;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  width: 295px;
  height: 57px;
}

.works-tags {
  min-width: 305px;
  height: 40px;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-right: 40px;
  list-style-type: none;
}

.tech-tag {
  height: 20px;
  background: #ebf0ee;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: #3a4a42;
  padding: 5px 5px;
}

.works-cta {
  width: 305px;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  bottom: 8px;
  padding: 12px;
  gap: 10px;
}

.project-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 122px;
  height: 48px;
  left: calc(50% - 122px / 2 + 0.5px);
  bottom: 8px;
  background: #36b37f;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-right: 45px;
  margin-bottom: 20px;
  border: #fff;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  min-width: 379px;
  height: 3283px;
  top: 708px;
}

.about-box {
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.about-heading {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #172b4d;
  width: 351px;
  height: 48px;
}

.about-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  width: 351px;
  height: 189px;
}

.about-cta {
  width: 305px;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  bottom: 8px;
  padding: 12px;
  gap: 10px;
  margin: 20px;
}

.about-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px 5px;
  width: 122px;
  height: 48px;
  left: calc(50% - 122px / 2 + 0.5px);
  bottom: 8px;
  background: #36b37f;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-right: 45px;
  margin-bottom: 20px;
  border: #fff;
}

.about-card-box {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 50px;
}

.boxes {
  display: grid;
  min-width: 300px;
  justify-items: center;
  height: 500px;
  background-image: url(./Images/Img-Plaholder-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-logo {
  margin-top: 80px;
}

.topic {
  width: 337px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.list-about {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  list-style-type: none;
}

.list-tag {
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  color: #36b37e;
  background: #fff;
  border-radius: 8px;
  padding: 10px 12px;
  margin-right: 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1fr 1fr 330px;
}

.contact-heading {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 0;
}

.contact-h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 30px;
  flex-basis: 327px;
  height: 330px;
  margin-top: 15px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  justify-content: center;
}

.contact-1 {
  height: 48px;
  width: 327px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
}

.contact-2 {
  height: 48px;
  width: 327px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
}

.contact-3 {
  height: 114px;
  width: 327px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #d0d9d4;
}

.contact-button {
  display: flex;
  justify-content: center;
}

.button-submit {
  padding: 12px;
  height: 60px;
  background: #36b37f;
  border: #fff;
  color: #fff;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.my-email {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
